.vehicle-table-container {
  padding: 1rem;
  
  h2 {
    color: var(--text-prim);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

:host ::ng-deep {
  .device-with-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    svg {
      flex-shrink: 0;
    }
    
    span {
      color: var(--text-prim);
    }
  }
}