.vehicle-table-container {
  padding: 1rem;
  background: var(--primary-bg-deep);
  border-radius: 8px;
  
  h2 {
    color: var(--primary-tint);
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

:host ::ng-deep {
  .device-with-icon {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    
    svg {
      flex-shrink: 0;
    }
    
    span {
      color: var(--text-prim);
      font-weight: 500;
    }
  }
}