.text-prim {
    color: var(--text-prim);
}

.text-light {
    color: var(--text-light);
}

.btn-nav-prim-text {
    color: var(--btn-nav-prim-text);
}

.btn-nav-prim-bkg-click-focus {
    color: var(--btn-nav-prim-bkg-click-focus);
}

.primary-tint {
    color: var(--primary-tint);
}

.btn-prim-text {
    color: var(--btn-prim-text);
}

.text-sec {
    color: var(--text-sec);
}

.prim-shade-2 {
    color: var(--prim-shade-2);
}

.primary-soft {
    color: var(--primary-soft);
}

.success {
    color: var(--success);
}

.primary-bg {
    color: var(--primary-bg);
}

.danger {
    color: var(--danger);
}

.primary-bg-deep {
    color: var(--primary-bg-deep);
}