:root {
    --text-prim: #CECBDE;
    --text-light: #706D7E;
    --btn-nav-prim-text: var(--text-light);
    --btn-nav-prim-bkg-click-focus: #00C5D6;
    --primary-tint: #00C5D6;
    --btn-prim-text: #171717;
    --text-sec: #CECBDE;
    --prim-shade-2: #9E9BAD;
    --primary-soft: #252836;
    --success: #4DBF77;
    --primary-bg: #1F1D2B;
    --primary-contrast: box-shadow: 0px 1px 1px 0px #02001799;
    --danger: #FF3F69;
    --primary-bg-deep: #10141A;
}
